<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HotelManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.hxh.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.hxh.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>restaurants</display-name>
    <servlet-name>restaurants</servlet-name>
    <servlet-class>com.hxh.servlet.restaurants</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>restaurants</servlet-name>
    <url-pattern>/restaurants</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modify</display-name>
    <servlet-name>Modify</servlet-name>
    <servlet-class>com.hxh.servlet.Modify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modify</servlet-name>
    <url-pattern>/Modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RearEndlogin</display-name>
    <servlet-name>RearEndlogin</servlet-name>
    <servlet-class>com.hxh.servlet.RearEndlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RearEndlogin</servlet-name>
    <url-pattern>/RearEndlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Quit</display-name>
    <servlet-name>Quit</servlet-name>
    <servlet-class>com.hxh.servlet.Quit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quit</servlet-name>
    <url-pattern>/Quit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Room</display-name>
    <servlet-name>Room</servlet-name>
    <servlet-class>com.hxh.servlet.Room</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Room</servlet-name>
    <url-pattern>/Room</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Rooms</display-name>
    <servlet-name>Rooms</servlet-name>
    <servlet-class>com.hxh.servlet.Rooms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rooms</servlet-name>
    <url-pattern>/Rooms</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOrder</display-name>
    <servlet-name>DeleteOrder</servlet-name>
    <servlet-class>com.hxh.servlet.DeleteOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrder</servlet-name>
    <url-pattern>/DeleteOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pay</display-name>
    <servlet-name>Pay</servlet-name>
    <servlet-class>com.hxh.servlet.Pay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pay</servlet-name>
    <url-pattern>/Pay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuerryMessage</display-name>
    <servlet-name>QuerryMessage</servlet-name>
    <servlet-class>com.hxh.servlet.QuerryMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuerryMessage</servlet-name>
    <url-pattern>/QuerryMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomBase</display-name>
    <servlet-name>RoomBase</servlet-name>
    <servlet-class>com.hxh.servlet.RoomBase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomBase</servlet-name>
    <url-pattern>/RoomBase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MakeMoney</display-name>
    <servlet-name>MakeMoney</servlet-name>
    <servlet-class>com.hxh.servlet.MakeMoney</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeMoney</servlet-name>
    <url-pattern>/MakeMoney</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaveMessage</display-name>
    <servlet-name>LeaveMessage</servlet-name>
    <servlet-class>com.hxh.servlet.LeaveMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveMessage</servlet-name>
    <url-pattern>/LeaveMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadMessage</display-name>
    <servlet-name>LoadMessage</servlet-name>
    <servlet-class>com.hxh.servlet.LoadMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadMessage</servlet-name>
    <url-pattern>/LoadMessage</url-pattern>
  </servlet-mapping>
</web-app>